.chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chat-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.button {
    outline: none;
    margin-left: 5px;
    background-color: #b490ca;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 10px;
}